body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("/static/img-1.jpg"); /* Set the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-size: cover;
}

.title{
    color: #eee;
    font-size: 2.5em;
}

.header {
    position: absolute; /* Set position to absolute */
    top: 0; /* Stick to the top */
    right: 0; /* Stick to the right */
    display: flex; /* Use flex layout */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    padding: 20px; /* Add padding for spacing */
    color: #eee;;
}

h1 {
    position: absolute; /* Set position to absolute */
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the right */
    display: flex; /* Use flex layout */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    padding-left: 10px;
}


.header button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

}

.main-content {
    display: flex;
    justify-content: space-between;
}

.chat-history-box {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-height: 60vh;
    overflow-y: scroll;
    margin: auto;
    margin-top: 15vh;
    background-color: #eee; /* Add a white background color */
}


.auth-form {
    display: none; /* Hide the form initially */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 100;
}

.auth-form input {
    margin-bottom: 10px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    font-size: 17px;
}

.toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.chat-history {
    width:98%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 40vh;
    overflow-y: scroll;
    background-color: white; /* Add a white background color */

  }
  
  .chat-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .chat-history-messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .chat-message {
    padding: 10px;
    border-radius: 10px;
  }
  
  .chat-message.user {
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  
  .chat-message.system {
    background-color: #f0f9ff;
    align-self: flex-start;
  }

  .record
  {
    margin-top: 2%;
    padding: 2%;
    width: 100%;
    justify-self: center;
  }

  button {
    border-radius: 10px; /* Add rounded corners */
    background-color: #fff;
    border: 1px solid #ccc; /* Add the same border as chat-history div */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add the same box-shadow as chat-history div */
    color: #000;;

}
