<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <button id="signInBtn" onclick="showAuthForm('Sign In')">Sign In</button>
        <button id="signUpBtn" onclick="showAuthForm('Sign Up')">Sign Up</button>
        <span id="greetingMsg" hidden>
            Hello, <span id="preferredNameDisplay"></span>
            <button id="signOutBtn" onclick="signOut()">Sign Out</button>
        </span>
    </div>

    <!-- Sign In / Sign Up Form -->
    <div id="authForm" class="auth-form" hidden>
        <form id="authFormContent" onsubmit="submitAuthForm(event)">
            <label id="authFormTitle">Sign In</label><br>
            <input type="text" id="username" name="username" placeholder="Username" required><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <input type="text" id="preferredName" name="preferredName" placeholder="Preferred Name" required><br><br>
            <button type="submit" id="submitBtn">Submit</button>
            <button type="button" onclick="cancelAuthForm()">Cancel</button>
        </form>
    </div>

    <div class="main-content">
        <div class="left-content">
            <h1>Inner Voice AI</h1>

            <button type="button" onclick="submitForm()">Start Recording</button>

            <p id="responseText"></p>
            <audio id="audio" controls hidden preload="auto">
                <source id="audioSource" src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
            </audio>
        </div>

        <div class="right-content">
            <div id="chatHistory" class="chat-history">
              <div class="chat-history-header">
                <h2>Chat History</h2>
              </div>
              <div class="chat-history-messages">
                <!-- Chat messages will be inserted here -->
              </div>
            </div>
        </div>
    </div>

    <div id="toast" class="toast"></div> <!-- Toast container -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>